<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/styles/main.css">
    <link rel="stylesheet" href="/static/styles/breakpoints.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" href="/static/img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">
    <title>404 - Not Found</title>
</head>

<body>
    <div class="cursor" id="cursor"></div>
    <div class="header">
        <h1>
            GR<a href="/" class="logo-link">
                <img class="logo" src="/static/img/logo.svg" alt="Logo" />
            </a>UPIE TRACKER
        </h1>
        <div class="mobile-icons">
            <a href="/home" class="icon-link">
                <img src="/static/img/home.png" alt="Home" class="icon">
            </a>
            <a href="/discover" class="icon-link">
                <img src="/static/img/discover.png" alt="Discover" class="icon">
            </a>
            <a href="/about" class="icon-link">
                <img src="/static/img/about.png" alt="About" class="icon">
            </a>
        </div>
    </div>
    <!-- Side Menu -->
    <div class="side-menu">
        <a href="\" class="menu-item home">
            <span>Home</span>
        </a>
        <a href="\discover" class="menu-item discover">
            <span>Discover</span>
        </a>
        <a href="\about" class="menu-item about">
            <span>About</span>
        </a>
    </div>
    <div class="error-page-layout">
        <div class="error-container">
            <img class="broken-guitar" src="/static/img/broken-guitar.png" />
            <div class="error-message">
                <h3>We couldn’t find this page in our playlist.</h3>
                <p>Let’s get you back to the hits!</p>
                <div class="button-container">
                    <a href="\" class="content-button">Go home!</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/cursor.js"></script>
</body>

</html>