<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>About Us</title>
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/breakpoints.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">
</head>

<body>
  <div class="cursor" id="cursor"></div>
  <div class="header">
    <h1>
      GR<a href="/" class="link">
        <img class="logo" src="/static/img/logo.svg" alt="Logo" />
      </a>UPIE TRACKER
    </h1>
    <div class="mobile-icons">
      <a href="/home" class="icon-link">
        <img src="/static/img/home.png" alt="Home" class="icon">
      </a>
      <a href="/discover" class="icon-link">
        <img src="/static/img/discover.png" alt="Discover" class="icon">
      </a>
      <a href="/about" class="icon-link">
        <img src="/static/img/about.png" alt="About" class="icon">
      </a>
    </div>
  </div>

  <!-- Side Menu -->
  <div class="side-menu">
    <a href="\" class="menu-item home">
      <span>Home</span>
    </a>
    <a href="\discover" class="menu-item discover">
      <span>Discover</span>
    </a>
    <div class="menu-item about active"><span>About</span></div>
  </div>

  <!-- Team Members Section for About Page -->
  <div class="error-page-layout">
    <img class="wire" src="/static/img/Vector2.png" />
    <div class="about-team-container">
      <!-- Team Member 1 -->
      <div class="about-team-card">
        <div class="about-image-container">
          <img src="https://i.imghippo.com/files/Owyd7948Tgc.png" alt="Velma">
        </div>
        <div class="artist-name">&nbsp;Irem&nbsp;</div>
        <p>Front end</p><br>
        <a href="https://discordapp.com/users/1278372391386349571" class="link">
          <img class="dc-logo" src="/static/img/discord.svg" alt="discord-logo">
        </a>
      </div>

      <!-- Team Member 2 -->
      <div class="about-team-card">
        <div class="about-image-container">
          <img src="https://i.imghippo.com/files/uXUO8433.png" alt="Thanos">
        </div>
        <div class="artist-name">Thanos</div>
        <p>Back &nbsp;end</p><br>
        <a href="https://discordapp.com/users/1206338307571716188" class="link">
          <img class="dc-logo" src="/static/img/discord.svg" alt="discord-logo">
        </a>
      </div>

      <!-- Team Member 3 -->
      <div class="about-team-card">
        <div class="about-image-container">
          <img src="https://i.imghippo.com/files/h3100R.png" alt="Harry Potter">
        </div>
        <div class="artist-name">&nbsp;Taha&nbsp;</div>
        <p>Back &nbsp;end</p><br>
        <a href="https://discordapp.com/users/717454935796482230" class="link">
          <img class="dc-logo" src="/static/img/discord.svg" alt="discord-logo">
        </a>
      </div>
    </div>
  </div>
  <script src="/static/cursor.js"></script>
</body>

</html>