<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/styles/main.css">
  <link rel="stylesheet" href="/static/styles/breakpoints.css">
  <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.ico">
  <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="/static/img/favicon.ico">
  <link rel="apple-touch-icon-precomposed" href="/static/img/favicon.ico">
  <title>Home</title>
</head>

<body>
  <div class="cursor" id="cursor"></div>
  <div class="header">
    <h1>GR<img class="logo" src="/static/img/logo.svg" alt="Logo" />UPIE TRACKER</h1>
    <div class="mobile-icons">
      <a href="/home" class="icon-link">
        <img src="/static/img/home.png" alt="Home" class="icon">
      </a>
      <a href="/discover" class="icon-link">
        <img src="/static/img/discover.png" alt="Discover" class="icon">
      </a>
      <a href="/about" class="icon-link">
        <img src="/static/img/about.png" alt="About" class="icon">
      </a>
    </div>
  </div>
  <div class="page-layout">
    <!-- Main Content -->
    <div class="main-content">
      <img class="guitar-player" src="/static/img/guitar-player.png" alt="Guitar Player Illustration" />
      <img class="image1" src="/static/img/shape1.png" />
      <img class="wire" src="/static/img/Vector.png" />
      <div class="box">
        <div class="text">
          <div class="text-wrapper"><strong>FEEL THE SOUND!</strong></div>
          <p class="div"> Explore iconic artists, their debut albums, and the unforgettable concerts they’ve rocked.
            Take a step into the past—start exploring now!</p>
          <div class="discover-button-container">
            <a href="\discover" class="content-button">Discover now!</a>
          </div>
        </div>
      </div>
    </div>

    <!-- Side Menu -->
    <div class="side-menu">
      <div class="menu-item home active">
        <span>Home</span>
      </div>
      <a href="\discover" class="menu-item discover">
        <span>Discover</span>
      </a>
      <a href="\about" class="menu-item about">
        <span>About</span>
      </a>
    </div>
  </div>
  <div class="marquee">
    <ul class="marquee-content">
      <li>
        <span>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Music: The only thing that makes me feel like I’m not a complete
          mess... for three minutes." –<i>Taha</i>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Jazz, pop, rock... Nah, the real
          vibe is Greek music. Nothing says 'life's a party' like a bouzouki!"
          –<i>Thanos</i>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Greek music? Nah, Turkish jams are where it's at!"
          –<i>Iremnur</i></span>
      </li>
    </ul>
    <ul class="marquee-content">
      <li>
        <span>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Music: The only thing that makes me feel like I’m not a complete
          mess... for three minutes." –<i>Taha</i>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Jazz, pop, rock... Nah, the real
          vibe is Greek music. Nothing says 'life's a party' like a bouzouki!"
          –<i>Thanos</i>&nbsp;&nbsp;&nbsp;★&nbsp;&nbsp;&nbsp;"Greek music? Nah, Turkish jams are where it's at!"
          –<i>Iremnur</i></span>
      </li>
    </ul>
  </div>
  <script src="/static/cursor.js"></script>
</body>

</html>